<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />
        <title>TimesTableWebGL</title>
    </head>
    <body>
        <% if (webpackConfig.mode === "production") { %>
        <!-- Cloudflare Web Analytics -->
        <script
            defer
            src="https://static.cloudflareinsights.com/beacon.min.js"
            data-cf-beacon='{"token": "61e54b66ec0f4892a4509c769b5127a9"}'
        ></script>
        <!-- End Cloudflare Web Analytics -->
        <% } %>
    </body>
</html>
